@screen-small: ~"only screen and (max-width: 480px)";
@screen-medium: ~"only screen and (min-width: 481px) and (max-width: 720px)";
@screen-huge: ~"only screen and (min-width: 721px)";

@header-height: 90px;
@feeder-width: 200px;
@header-toolbar-height: 40px;
@header-shadow-space: 5px;
@header-line-offset: 8px;

@tool-background-color: #3f3f3f;
@tool-background-gradient-start: #696969;
@tool-background-gradient-end: #3f3f3f;

