<div data-ng-controller="adminController as vm">
    <H1>admin</H1>
    <br>
    <table class="admin-user-agent">
        <tr ng-if="vm.account.host">
            <td class="title">Host</td>
            <td>Name</td>
            <td>{{vm.account.host}}</td>
        </tr>

        <tr>
            <td rowspan="2" class="title">Browser</td>
            <td>Name</td>
            <td>{{vm.account.userAgent.browserName}}</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>{{vm.account.userAgent.browserVersion}}</td>
        </tr>

        <tr>
            <td class="title">Cpu</td>
            <td>Architecture</td>
            <td>{{vm.account.userAgent.cpuArchitecture}}</td>
        </tr>

        <tr>
            <td rowspan="3" class="title">Device</td>
            <td>Model</td>
            <td>{{vm.account.userAgent.deviceModel}}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>{{vm.account.userAgent.deviceType}}</td>
        </tr>
        <tr>
            <td>Vendor</td>
            <td>{{vm.account.userAgent.deviceVendor}}</td>
        </tr>

        <tr>
            <td rowspan="2" class="title">Os</td>
            <td>Name</td>
            <td>{{vm.account.userAgent.osName}}</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>{{vm.account.userAgent.osVersion}}</td>
        </tr>

        <tr>
            <td rowspan="2" class="title">Engine</td>
            <td>Name</td>
            <td>{{vm.account.userAgent.engineName}}</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>{{vm.account.userAgent.engineVersion}}</td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" style="float:left" ng-click="vm.reboot()">reboot</button>
            </td>
            <td>
                <textarea ng-bind="vm.result" readonly noresize></textarea>
            </td>
        </tr>

    </table>
</div>

