<div ng-show="content.isReady">
    <span
        ng-if="content.title"
        class="nav-link"
        href="#"
        ng-bind="content.title"
        ng-click="content.onClick()"
        title="{{content.parent.parent ? content.title : null}}"/>

    <ul ng-class="{'main-menu': !content.parent}" style="list-style: none !important;">
        <li ng-repeat="item in content.children" class="nav-item">
            <header-menu-item content="item"></header-menu-item>
        </li>
    </ul>
</div>

