<div class="explorer-tree" draggable="true">
    <table class="nodeTable">
        <tr >
            <td class="headerCell">
                <table class="nodeTable">
                    <tr>
                        <td>
                            <img src="application/explorer/wait.gif" class="nodeSmallImage" ng-if="vm.data.isWaiting" />
                        </td>
                        <td class="nodeIndentSpaceCell" ng-if="!vm.data.subfolders.length"/>
                        <td ng-if="vm.data.subfolders.length">
                            <a class="nodeToggleRef" ng-click="vm.data.isExpanded = !vm.data.isExpanded">
                                <img
                                        ng-if="!vm.data.isExpanded"
                                        class="nodeToggleImage"
                                        src="application/explorer/expand.png"/>
                                <img
                                        ng-if="vm.data.isExpanded"
                                        class="nodeToggleImage"
                                        src="application/explorer/collapse.png"/>
                            </a>
                        </td>
                        <td class="nodeTitleCell">
                            <div ng-class="{'nodeTitleDiv': true, 'selected': vm.data.isSelected, 'dragging-over': vm.isDraggingOver}" ng-click="vm.data.isSelected = true">
                                <span class="{{'nodeContentTitle' + (vm.data.isSelected ? ' selected' : '')}}">{{vm.data.name}}</span>
                                <span class="nodeContentTitle leafsCounter" ng-if="vm.data.subfolders.length && !vm.data.isExpanded">({{vm.data.subfolders.length}})</span>
                                <span class="uib-dropdown nodeMenu" uib-dropdown ng-if="vm.data.isSelected">
                                    <img
                                            class="uib-dropdown-toggle nodeMenuImage"
                                            uib-dropdown-toggle
                                            src="application/explorer/ui-menu-icon.png"/>

                                    <ul class="uib-dropdown-menu dropdown-menu-right">
                                        <li ng-if="!vm.data.isRoot"><a class="nodeMenuRef" ng-click="vm.delete()">Delete</a></li>
                                        <li><a class="nodeMenuRef" ng-click="vm.newNode()">New</a></li>
                                        <li ng-if="!vm.data.isRoot"><a class="nodeMenuRef" ng-click="vm.rename('rename folder', 'folder')">Rename</a></li>
                                    </ul>
                                </span>
                            </div>
                        </td>

                        <td class="nodeEndSpaceCell"/>
                    </tr>
                </table>
            </td>
        </tr>
        <tr ng-if="vm.data.isExpanded">
            <td>
                <table class="nodeTable">
                    <tr>
                        <td class="nodeIndentCell"/>
                        <td class="nodeChildLevelCell">
                            <table class="nodeTable" ng-cloak>
                                <tr ng-repeat="child in vm.data.subfolders | orderBy:'name'">
                                    <td>
                                        <explorer-tree-node-two data-node-promise="child.nodePromise" data-parent-node="$parent"></explorer-tree-node-two>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
