@import "../../variables.less";

@explorer-frame-width-huge: 400px;
@explorer-frame-width-medium: 300px;
@explorer-frame-width-small: 150px;

.explorer-tree {

  .title-container{
    display: flex;
    height: 24px;
    padding: 3px 0;
  }

  .waiting-image-container {
    height:16px;
    padding: 0;
    margin: 0 3px;
    display: inline-flex;
  }

  .waiting-image {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    background: transparent;
  }

  .expand-toggle-container{
    display: inline-flex;
  }

  .expand-toggle{
    padding: 6px 2px 0 2px;
  }

  .expand-toggle-image {
    width: 11px;
    height: 11px;
    margin: 0;
    display: block;
    vertical-align: middle;
  }

  .title-line{
    border-radius: 3px;
    padding: 0;
    height: 22px;
    border: 1px solid transparent;
    margin: 0 5px 0 0;
    padding: 2px 0 0 5px;
    outline: none;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
  }

  .title-line.selected {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffff9), color-stop(47%, #fff2cf), color-stop(100%, #fef4d2));
    background: -ms-linear-gradient(top, #fffff9 0%, #fff2cf 47%, #fef4d2 100%);
    border-color: #ddcf9b;
    box-shadow: 2px 2px 3px #aaa;
  }

  .title-line.dragging-over {
    border: 1px solid #ddcf9b !important;
    background: repeating-linear-gradient(
            45deg,
            white/*#606dbc*/,
            white/*#606dbc*/ 10px,
            #fef4d2/*#465298*/ 10px,
            #fef4d2/*#465298*/ 20px
    );
  }

  .title-content {
    padding: 0 3px;
    font-family: verdana;
    font-size: 13px;
    text-shadow: 2px 2px 5px #aaa;
  }

  .title-content:hover {
    font-style: italic;
  }

  .title-content.numbers {
    color: #394bab;
    font-weight: bold;
    margin-top: -1px;
  }

  .menu-toggle{
    margin: 0 7px 0 3px;
    vertical-align: middle;
  }

  .menu-image {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    background: transparent;
  }

  .menu-item {
    cursor: pointer;
    border-style: solid;
    border-color: transparent;
    border-width: 1px 0;
    text-shadow: 2px 2px 4px #aaa;
  }

  .menu-item:hover {
    font-style: italic;
    background: transparent;
    border-color: lightgrey;
  }

  .containers-space {
    padding-left: 20px;
  }

  .progress {
    margin: 0;
    height: 16px;
    .progress-bar{
      line-height:16px;
    }
  }

}

.explorer-new-folder{
  width:300px;
  input {
    width:100%;
  }
}

.explorer-rename{
  width:300px;
  input {
    width:100%;
  }
}

.explorer-container {
  padding: 10px;
  display: inline-block;
  width:100%;
  height: 100%;
  white-space: nowrap;
}

.explorer-cell{
  padding: 2px;
  display: inline-block;
  width:50%;
  height:100%;
}

.explorer-frame {
  width:100%;
  height:100%;
  overflow: auto;
  border: solid 1px #9bbbe3;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #aaa;
  background: white;
}

@media @screen-explorer-small {

  .explorer-container{
    white-space: normal;
  }

  .explorer-cell{
    height: 30%;
    width:100%;
  }

  .folder-cell {
    height: 70%;
  }
}

