<div class="explorer-container">
    <div class="explorer-cell folder-cell">
        <div class="explorer-frame">
            <folder-node [nodePromise]="nodePromise" (onNodeSelected)="onNodeSelected($event)"></folder-node>
        </div>
    </div>
    <div class="explorer-cell">
        <div class="explorer-frame">
            <div *ngIf="current && current.leafs">
                <div *ngFor="#child of current.leafs | orderNodesByName">
                    <file-node [nodePromise]="child.nodePromise"></file-node>
                </div>
            </div>
        </div>
    </div>
</div>
