<div class="explorer-tree" draggable="true">
    <div [ngClass]="{'title-line': true, 'selected': (data && data.isSelected), 'dragging-over': isDraggingOver}" (click)="select($event)">
        <table style="width: 100%;white-space: nowrap;">
            <tr>
                <td>
                    <div class="{{'title-content' + ((data && data.isSelected) ? ' selected' : '')}}" >{{data?.name}}</div>
                </td>
                <td>
                    <div class="title-content numbers">({{data?.size | bytes}})</div>
                </td>
                <td style="width: 99%;">
                </td>
                <td>
                    <div class="menu-toggle dropdown" dropdown (on-toggle)="toggled($event)" *ngIf="data?.isSelected">
                        <img
                            class="menu-image dropdown-toggle"
                        dropdownToggle
                        src="./app/explorer/ui-menu-icon.png"/>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li *ngIf="data"><a class="menu-item" href="{{link}}">Download</a></li>
                            <li *ngIf="data"><a class="menu-item" (click)="delete($event)">Delete</a></li>
                            <li *ngIf="data"><a class="menu-item" (click)="rename($event)">Rename</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
