<div class="explorer-tree" draggable="true">
    <table class="nodeTable">
        <tr>
            <td class="headerCell">
                <table class="nodeTable">
                    <tr>
                        <td>
                            <img src="./app/explorer/loader16.gif" class="nodeSmallImage" *ngIf="data && data.isWaiting" />
                        </td>
                        <td class="nodeTitleCell">
                            <div [ngClass]="{'nodeTitleDiv': true, 'selected': (data && data.isSelected)}" (click)="select($event)">
                                <span class="{{'nodeContentTitle' + ((data && data.isSelected) ? ' selected' : '')}}">{{data?.name}}</span>
                                <span class="nodeContentTitle leafsCounter">({{data?.size | bytes}})</span>
                                <span class="dropdown nodeMenu" dropdown *ngIf="data && data.isSelected">
                                    <img
                                            class="dropdown-toggle nodeMenuImage"
                                            dropdownToggle
                                            src="./app/explorer/ui-menu-icon.png"/>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li *ngIf="data && !data.isRoot"><a class="nodeMenuRef" (click)="delete($event)">Delete</a></li>
                                        <li *ngIf="data && !data.isRoot"><a class="nodeMenuRef" (click)="rename($event)">Rename</a></li>
                                    </ul>
                                </span>
                            </div>
                        </td>

                        <td class="nodeEndSpaceCell"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>