<div class="explorer-tree" draggable="true">
    <div class="title-container">
        <div class="waiting-image-container">
            <img src="./app/explorer/loader16.gif" class="waiting-image" *ngIf="data?.isWaiting" />
        </div>
        <div class="expand-toggle-container" *ngIf="data && data.containers && data.containers.length">
            <a class="expand-toggle" (click)="expand($event)">
                <img
                    *ngIf="data && !data.isExpanded"
                    class="expand-toggle-image"
                    src="./app/explorer/expand.png"/>
                <img
                    *ngIf="data && data.isExpanded"
                    class="expand-toggle-image"
                    src="./app/explorer/collapse.png"/>
            </a>
        </div>

        <div [ngClass]="{'title-line': true, 'selected': (data && data.isSelected), 'dragging-over': isDraggingOver}" (click)="select($event)">
            <table style="width: 100%;white-space: nowrap;">
                <tr>
                    <td>
                        <div class="{{'title-content' + ((data && data.isSelected) ? ' selected' : '')}}" >{{data?.name}}</div>
                    </td>
                    <td>
                        <div class="title-content numbers" *ngIf="data && data.containers && data.containers.length && !data.isExpanded" >({{data?.containers?.length}})</div>
                    </td>
                    <td style="width: 99%;">
                    </td>
                    <td>
                        <div class="menu-toggle dropdown" dropdown (on-toggle)="toggled($event)" *ngIf="data?.isSelected">
                            <img
                                class="menu-image dropdown-toggle"
                                dropdownToggle
                                src="./app/explorer/ui-menu-icon.png"/>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li *ngIf="data && !data.isRoot"><a class="menu-item" (click)="delete($event)">Delete</a></li>
                                <li><a class="menu-item" (click)="newFolder()">New folder</a></li>
                                <li *ngIf="data && !data.isRoot"><a class="menu-item" (click)="rename($event)">Rename</a></li>
                                <li *ngIf="data && !data.isRoot"><a class="menu-item" (click)="upload($event)">Upload</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="containers-space" *ngIf="data && data.isExpanded && data.containers">
        <div *ngFor="#child of data.containers | orderNodesByName">
            <folder-node [nodePromise]="child.nodePromise"></folder-node>
        </div>
    </div>
</div>