<div data-ng-controller="adminRepositoryController as vm" class="admin-repository">
    <table class="frame-table">
        <tr>
            <td class="items-list-cell">
                <ul class="items-list">
                    <li ng-repeat="item in vm.repositories">
                        <div ng-class="{'repository-item': true, 'selected': item.isSelected, 'dirty': item.isDirty}" ng-click="vm.onItem(item)">
                            <img src="../application/admin/repository/database.png" align="middle" />
                            <span ng-bind="item"></span>
                        </div>
                    </li>
                </ul>
            </td>
            <td class="details-cell" ng-if="vm.repository">
                <div layout layout-sm="column">
                    <md-input-container flex >
                        <label>Id</label>
                        <input ng-model="vm.repository.id" type="text" readonly>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex >
                        <label>Name</label>
                        <input ng-model="vm.repository.name" type="text" readonly>
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex >
                        <label>Location</label>
                        <input ng-model="vm.repository.location" type="text">
                    </md-input-container>
                </div>
                <br/>
                <br/>
                <button type="button" class="btn btn-primary" ng-if="vm.repository.isDirty" ng-click="vm.repository.save()">Save</button>
                <button type="button" class="btn btn-primary" ng-if="vm.repository.isDirty" ng-click="vm.repository.cancel()">Cancel</button>
            </td>
        </tr>
    </table>

</div>

