<md-dialog style="z-order:10000;">
    <div class="panel panel-primary common-msg-frame">
        <div class="panel-heading">
            <span class="panel-title">{{vm.title}}</span>
        </div>
        <div class="panel-body common-msg-body">
            <div class="common-msg-body-cell">
                <span ng-bind-html="vm.message" />
            </div>
        </div>
        <div class="common-msg-line" />
        <div class="md-actions">
            <md-button class="md-primary" ng-click="vm.ok()">
                {{vm.okButtonTitle ? vm.okButtonTitle : 'Ok'}}
            </md-button>
            <md-button class="md-primary" ng-if="vm.cancelButtonTitle" ng-click="vm.cancel()">
                {{vm.cancelButtonTitle ? vm.cancelButtonTitle : 'Cancel'}}
            </md-button>
        </div>
    </div>
</md-dialog>