<div data-ng-controller="adminController as vm" style="padding: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1 mesh-cell">
                <div class="section" style="text-align: center;">

                </div>
            </div>
            <div class="col-lg-6 mesh-cell">
                <div class="section" style="text-align: center;" loading-waiter="vm.isOperating">
                    <table style="height: 350px; width: 100%; margin: 20px 0;" >
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary" style="float:left" ng-click="vm.pull()">pull</button>
                                <button type="button" class="btn btn-primary" style="float:left" ng-click="vm.install()">install</button>
                                <button type="button" class="btn btn-primary" style="float:left" ng-click="vm.build()">build</button>
                                <button type="button" class="btn btn-primary" style="float:left" ng-click="vm.restart()">restart</button>
                            </td>
                        </tr>
                        <tr>
                             <td >
                                <textarea ng-bind="vm.result" style="height: 300px; width: 100%;"  readonly></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

