<div style="height:100%">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="centering">
                <!--<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">-->
                <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
                    <form data-ng-submit="vm.signup()" class="form-horizontal" novalidate autocomplete="off">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="firstName">First Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="firstName" data-ng-model="vm.firstName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="lastName">Last Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="lastName" data-ng-model="vm.lastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="email" data-ng-model="vm.email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="username">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username" data-ng-model="vm.username" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="password">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" data-ng-model="vm.password" placeholder="Password">
                            </div>
                        </div>
                        <div class="text-center form-group">
                            <button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
                            <a href="/#!/signin" class="show-signup">Sign in</a>
                        </div>
                        <div data-ng-show="vm.error" class="text-center text-danger">
                            <strong data-ng-bind="vm.error"></strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


