<div style="height:100%">
    <table style="width:100%; height: 100%">
        <tr><td/></tr>
        <tr>
            <td>

                <div class="container">
                    <div class="row">
                        <div class="centering">
                            <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                                <form data-ng-submit="vm.signin()" class="signin form-horizontal" autocomplete="off">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" id="username" name="username" class="form-control" data-ng-model="vm.login" placeholder="Username" autofocus>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" id="password" name="password" class="form-control" data-ng-model="vm.password" placeholder="Password">
                                        </div>
                                        <div class="text-center form-group">
                                            <button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
                                            <a href="/#!/signup">Sign up</a>
                                        </div>
                                        <div data-ng-show="vm.error" class="text-center text-danger">
                                            <strong data-ng-bind="vm.error"></strong>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        <tr><td/></tr>
    </table>
</div>


